APP_NAME=Portal de Dados API
APP_VERSION=0.1.0
APP_ENV=development
APP_DEBUG=true
API_V1_PREFIX=/api/v1

# ====================== DATABASE =======================
DB_DIALECT=postgresql
DB_DRIVER=psycopg
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=omegao1tao
DB_DATABASE=dbportaldados
DB_SCHEMA=scportaldados
DB_ECHO=false
DB_POOL_SIZE=5
DB_MAX_OVERFLOW=10

# ====================== JWT =======================
JWT_SECRET_KEY=chave_aleatoria_para_assinatura_de_tokens_jwt
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7
JWT_ISSUER=portal-dados-api
JWT_AUDIENCE=portal-dados-frontend
JWT_REFRESH_COOKIE_NAME=portal_refresh_token
JWT_REFRESH_COOKIE_SECURE=false
JWT_REFRESH_COOKIE_SAMESITE=lax